
body {
  padding-top: 100px;
}

footer {
  display: flex;
  align-items: center;
  height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.2em;
}
.active>.nav-link {
  color: hotpink !important;
}

.navbar-brand {
  font-size: 1.8em;
  color:white
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.petcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white !important;
  padding: 100px !important; 
}